body{
    margin-left: 20px;
}
.chat{
    background-color: rgb(160, 169, 177);
    padding: 20px;
    border-radius: 16px;
    display: inline-block;

}

.msg{
    background-color: rgb(55, 134, 134);
    color: white;
    padding: 10px;
    border-radius: 16px;
}